<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      {{todo.name}}
      <div class="pull-right">
        status: {{todo.status}}
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div>
      {{todo.description}}
    </div>
  </div>
  <div class="panel-footer">
    <div>
      when: {{todo.when}}
    </div>
  </div>
</div>
