<form (ngSubmit)="onSubmit()" #signUpForm="ngForm">
  <div class="form-group">
    <label for="email">Email address</label>
    <input placeholder="Email" type="email" id="email" class="form-control"
           required email
           [(ngModel)]="model.email" name="email"
           #email="ngModel">
    <div [hidden]="email.valid || email.pristine"
         class="alert alert-danger">
      Email is invalid
    </div>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input placeholder="Name" type="text" id="name" class="form-control"
           required
           [(ngModel)]="model.name" name="name"
           #name="ngModel">
    <div [hidden]="name.valid || name.pristine"
         class="alert alert-danger">
      Name required
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input placeholder="Password" type="password" id="password" class="form-control"
           required
           [(ngModel)]="model.password" name="password"
           #password="ngModel">
    <div [hidden]="password.valid || password.pristine"
         class="alert alert-danger">
      Password required
    </div>

  </div>
  <div class="form-group">
    <label for="password_confirmation">Password Confirmation</label>
    <input placeholder="Password Confirmation" type="password" id="password_confirmation" class="form-control"
           required
           [(ngModel)]="model.password_confirmation" name="password_confirmation"
           #password_confirmation="ngModel">
    <div [hidden]="password_confirmation.valid || password_confirmation.pristine"
         class="alert alert-danger">
      Password confirmation required
    </div>

  </div>

  <button type="submit" [disabled]="!signUpForm.form.valid" class="btn btn-block btn-primary">Enter</button>
</form>
