<form (ngSubmit)="onSubmit()" #signInForm="ngForm">
  <div class="form-group">
    <label for="email">Email address</label>
    <input placeholder="Email" type="email" id="email" class="form-control"
      required email
      [(ngModel)]="model.email" name="email"
      #email="ngModel">
    <div [hidden]="email.valid || email.pristine"
         class="alert alert-danger">
      Email is invalid
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input placeholder="Password" type="password" id="password" class="form-control"
      required
      [(ngModel)]="model.password" name="password"
      #password="ngModel">
    <div [hidden]="password.valid || password.pristine"
         class="alert alert-danger">
      Password required
    </div>

  </div>

  <button type="submit" [disabled]="!signInForm.form.valid" class="btn btn-block btn-primary">Enter</button>
</form>
