<form (ngSubmit)="onSubmit()" #todoForm="ngForm">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">
        New Todo
      </div>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label for="name" class="sr-only">Name</label>
        <input placeholder="Name" type="text" id="name" class="form-control"
               required
               [(ngModel)]="todo.name" name="name">
      </div>
      <div class="form-group">
        <label for="description" class="sr-only">Description</label>
        <input placeholder="Description" type="text" id="description" class="form-control"
               required
               [(ngModel)]="todo.description" name="text">
      </div>
      <div class="form-group">
        <label for="when" class="sr-only">Description</label>
        <input placeholder="When" type="date" id="when" class="form-control"
               required
               [(ngModel)]="todo.when" name="when">
      </div>
    </div>
    <div class="panel-footer">
      <button [disabled]="!todoForm.form.valid" class="btn btn-block btn-primary">Send</button>
    </div>
  </div>
</form>
