<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 div-center">
      <div class="panel panel-default">

        <div class="panel-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#sign_in" aria-controls="home" role="tab" data-toggle="tab">Sign In</a>
            </li>
            <li role="presentation">
              <a href="#sign_up" aria-controls="profile" role="tab" data-toggle="tab">Sign Up</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="sign_in">
              <app-sign-in></app-sign-in>
            </div>
            <div role="tabpanel" class="tab-pane" id="sign_up">
              <app-sign-up></app-sign-up>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
