<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <app-todo-form></app-todo-form>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let todo of todos">
    <app-todo [todo]="todo"></app-todo>
  </div>
</div>
